
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form [formGroup]="userForm" (ngSubmit)="signup()" class="login100-form validate-form p-l-55 p-r-55 p-t-178" >
					<p class="login100-form-title">
						Registro
                    </p>
                    <p class="txt1">Don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho</p>
                    <br/>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="nombre" class="input100" type="text" name="nombre" placeholder="Nombre">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="correo" class="input100" type="text" name="correo" placeholder="Correo">
						<span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="fechaNacimiento" class="input100" type="date" name="fechaNacimiento" placeholder="Fecha nacimiento">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter nickname">
						<input formControlName="nickname" class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
						<input formControlName="password" class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<textarea formControlName="descripcion" class="input100" type="text" name="descripcion" placeholder="Descripción"></textarea>
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button [disabled]="!userForm.valid" class="login100-form-btn">
							Registro
						</button>
					</div>

					<div class="flex-col-c p-b-40">
						<span class="txt1 p-b-9">
							¿Ya tienes cuenta?
						</span>

						<a  class="txt3">
							Inicia sesión
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>



<router-outlet></router-outlet>
