
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
        <form [formGroup]="userForm" (ngSubmit)="signup()" class="login100-form validate-form p-l-55 p-r-55 p-t-178" >
					<p class="login100-form-title">
						Registro
                    </p>
                    <p class="txt1">Don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho</p>
                    <br/>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="nombre" class="input100" type="text" name="nombre" placeholder="Nombre">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="correo" class="input100" type="text" name="correo" placeholder="Correo">
						<span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input formControlName="fechaNacimiento" class="input100" type="date" name="fechaNacimiento" placeholder="Fecha nacimiento">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter nickname">
						<input formControlName="nickname" class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
						<input formControlName="password" class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<textarea formControlName="descripcion" class="input100" type="text" name="descripcion" placeholder="Descripción"></textarea>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a link">
						<textarea formControlName="foto" class="input100" type="text" name="Foto" placeholder="Link a fotografia"></textarea>
						<span class="focus-input100"></span>
					</div>

					<div>
					<select class="form-control" formControlName="selectedValue">
							<option value="">--Select--</option>
							<option value="1">PROVEEDOR</option>
							<option value="2">CLIENTE</option>
					</select>
					<br/>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a DI" *ngIf="userForm.value.selectedValue === '2' ">
							<textarea formControlName="di" class="input100" type="text" name="di" placeholder="Ingrese su identificación"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a phone" *ngIf="userForm.value.selectedValue === '1'">
							<textarea formControlName="telefono" class="input100" type="text" name="telefono" placeholder="Ingrese su telefono"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a WebPage" *ngIf="userForm.value.selectedValue === '1'">
							<textarea formControlName="web" class="input100" type="text" name="web" placeholder="Ingrese su página web"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a Twitter Username" *ngIf="userForm.value.selectedValue === '1'">
							<textarea formControlName="usuarioTwitter" class="input100" type="text" name="usuarioTwitter" placeholder="Ingrese su usuario de twitter"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a Facebook Username" *ngIf="userForm.value.selectedValue === '1'">
							<textarea formControlName="usuarioFacebook" class="input100" type="text" name="usuarioFacebook" placeholder="Ingrese su usuario de facebook"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter a Instagram Username" *ngIf="userForm.value.selectedValue === '1'">
							<textarea formControlName="usuarioInstagram" class="input100" type="text" name="usuarioInstagram" placeholder="Ingrese su usuario de instagram"></textarea>
							<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button [disabled]="!userForm.valid" class="login100-form-btn">
							Registro
						</button>
					</div>

					<div class="flex-col-c p-b-40">
						<span class="txt1 p-b-9">
							¿Ya tienes cuenta?
						</span>

						<a  [routerLink]="['/login']" class="txt3">
							Inicia sesión
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>



<router-outlet></router-outlet>
