<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
</head>
<app-navbar></app-navbar>

<head>
  <meta charset="utf-8" />
  <title>Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXHrqWEsUhpws-qtMgSMYMW7Po14SZ5lc"></script>
</head>
<div class="row justify-content-md-center  limiter">
  <h1 class="text-center">Detalles Servicio</h1>
  <div class="container-fluid">

    <div class="row">
      <div class="col"></div>
      <div class="col-7" *ngIf="service">
        <div class="container">
          <div class="row justify-content-md-center">
            <img *ngIf="service.fotos" [src]="service.fotos[0]" class="img-fluid rounded shadow-lg" alt="imagen">
          </div>
          <br>
        </div>

        <table class="table table-striped border border-dark rounded-10">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Nombre</th>
              <td>{{service.nombre}}</td>
            </tr>
            <tr>
              <th scope="row">Tipo</th>
              <td>{{service.tipo}}</td>
            </tr>
            <tr>
              <th scope="row">Descripción</th>
              <td>{{service.descripcion}}</td>
            </tr>
            <tr>
              <th scope="row">Contacto</th>
              <td>{{service.contacto}}</td>
            </tr>
            <tr>
              <th scope="row">Costo</th>
              <td>${{service.costo}}</td>
            </tr>
            <tr>
              <th scope="row">Ubicación</th>
              <td>Lat: {{service.latitud}} Long: {{service.longitud}}</td>
            </tr>

            <tr>
              <th scope="row">Calificacion</th>
              <td><img src="https://cdn2.iconfinder.com/data/icons/modifiers-add-on-1-flat/48/Mod_Add-On_1-35-512.png"
                  class="img-fluid rounded shadow-lg" alt="imagen" style="width: 0.7cm; height:0.7cm;">
                {{calificacionProm}} Estrellas</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="pais" class="fondo row">
            <div class="col-3"><img class="deatilscountry" [src]="pais.flag" alt="flag"></div>
            <div class="col-9">
              <b>NOMBRE:</b> {{pais.name}}, <br>
              <b>CODIGO PAIS:</b> {{pais.alpha2Code}}, <br>
              <b>CODIGO DE LLAMADA:</b> +{{pais.callingCodes[0]}}, <br>
              <b>CAPITAL:</b> {{pais.capital}}, <br>
              <b>MONEDA:</b> {{pais.currencies[0].name}}, <br>
              <b>IDIOMA:</b> {{pais.languages[0].name}},<br>
            </div>
          </div>

        <h1 class="text-center">Escoge la fecha</h1>
        <div>
          <h2>Llegada</h2>
          <form (submit)="submitweather(FechaL,FechaS)">
            <input class="form-control" type="date" name="fechaLlegada" placeholder="Fecha Llegada" #FechaL>
            <span class="focus-input100"></span>

            <h2>Salida</h2>

            <input class="form-control" type="date" name="fechaSalida" placeholder="Fecha Salida" #FechaS>
            <span class="focus-input100"></span>

            <button class="btn btn-outline-dark mt-3">
              ver info
            </button>
          </form>
          <h1 class="text-center">Clima</h1>
          <table class="table table-striped border border-dark rounded-10">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Dato</th>
                <th scope="col">Valor</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Clima llegada</th>
                <td>{{climal}}</td>
                <td>{{descriptionl}}</td>
              </tr>
              <tr>
                <th scope="row">Clima Salida</th>
                <td>{{climaS}}</td>
                <td>{{descriptionS}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="latitude">
          <h1 class="text-center">Ubicación</h1>
          <agm-map [zoom]="15" [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>

        <h1 class="text-center">Detalles de {{service.tipo}}</h1>
        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'PASEO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Hora Salida</th>
              <td>{{service.horaSalida}}</td>
            </tr>
            <tr>
              <th scope="row">Hora Llegada</th>
              <td>{{service.horaLlegada}}</td>
            </tr>
            <tr>
              <th scope="row">Trayecto</th>
              <td>{{service.trayecto}}</td>
            </tr>
            <tr>
              <th scope="row">Restricciones</th>
              <td>{{service.restricciones}}</td>
            </tr>
            <tr>
              <th scope="row">Sugerencias</th>
              <td>{{service.sugerencias}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'ALIMENTACION'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tipo de comida</th>
              <td>{{service.tipoComida}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'ALOJAMIENTO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Num. Habitaciones</th>
              <td>{{service.numHabitaciones}}</td>
            </tr>
            <tr>
              <th scope="row">Num. Huespedes</th>
              <td>{{service.numHuespedes}}</td>
            </tr>
            <tr>
              <th scope="row">Extras</th>
              <td>{{service.extras}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'OTRO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tipo</th>
              <td>{{service.tipoServicio}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'TRANSPORTE'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Hora Salida</th>
              <td>{{service.horaSalida}}</td>
            </tr>
            <tr>
              <th scope="row">Hora Llegada</th>
              <td>{{service.horaLlegada}}</td>
            </tr>
          </tbody>
        </table>


        <button type="button" class="btn btn-outline-dark" (click)="addService()"
          [routerLink]="['/shopCar']">Carrito</button>
        <br><br>
        <button type="button" class="btn btn-dark" [routerLink]="['/services']">Lista
          Servicios</button>

        <h3 class="text-center">¿Preguntas?</h3>
        <div class="row">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Preguntas?" [(ngModel)]="pregunta"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-dark" type="button" id="button-addon2"
                (click)="pregutar()">Preguntar</button>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;" *ngFor="let preg of preguntastemp">
          <div class="card w-100 p-3">
            <div class="card-header">
              <strong>@{{preg.cliente.nickname}}</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{preg.descripcion}}</h5>
              <p class="card-text">{{preg.fecha}}</p>


              <h3 class="text-center">¿Comentarios?</h3>
              <div class="row">
                <div class="input-group mb-3">
                  <span class="custom-dropdown">
                    <select (change)="searchType($event)">
                      <option value="1">1 Estrella</option>
                      <option value="2">2 Estrellas</option>
                      <option value="3">3 Estrellas</option>
                      <option value="4">4 Estrellas</option>
                      <option value="5">5 Estrellas</option>
                    </select>
                  </span>
                  <input type="text" class="form-control" placeholder="Comentario" [(ngModel)]="comentario"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button" id="button-addon2"
                      (click)="comentar()">comentar</button>

                  </div>
                </div>
              </div>

            </div>
            <div class="col"></div>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">¿PREGUNTAS?</th>
              <th scope="col" style="text-align: center">RESEÑAS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="card" *ngFor="let preg of preguntastemp" style="width: 15cm">
                  <div class="card-header">
                    <strong>@{{preg.clientes.nickname}}</strong>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{preg.descripcion}}</h5>
                    <p class="card-text" style="text-align: right">{{preg.fecha}}</p>
                  </div>
                </div>
              </th>
              <th>
                <div class="card" *ngFor="let new of this.resenas" style="width: 15cm">
                  <h5 class="card-header"><img
                      src="https://cdn2.iconfinder.com/data/icons/modifiers-add-on-1-flat/48/Mod_Add-On_1-35-512.png"
                      class="img-fluid rounded shadow-lg" alt="imagen" style="width: 1cm; height:1cm;">
                    {{new.calificacion}} Estrellas</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-10">
                        <p class="card-title">{{new.descripcion}}</p>
                        <h6 class="card-text" style="text-align: right">{{new.fecha}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
        </table>