<app-navbar></app-navbar>
<div class="row justify-content-md-center  limiter">
  <h1 class="text-center">Detalles Servicio</h1>
  <div class="container-fluid">

    <div class="row">
      <div class="col"></div>
      <div class="col-7" *ngIf="service">
        <div class="container">
        <div class="row justify-content-md-center">
          <img *ngIf="service.fotos" [src]="service.fotos[0]" class="img-fluid rounded shadow-lg"
                            alt="imagen">
        </div>
        <br>
        </div>

        <table class="table table-striped border border-dark rounded-10">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Nombre</th>
              <td>{{service.nombre}}</td>
            </tr>
            <tr>
              <th scope="row">Tipo</th>
              <td>{{service.tipo}}</td>
            </tr>
            <tr>
              <th scope="row">Descripción</th>
              <td>{{service.descripcion}}</td>
            </tr>
            <tr>
              <th scope="row">Contacto</th>
              <td>{{service.contacto}}</td>
            </tr>
            <tr>
              <th scope="row">Costo</th>
              <td>${{service.costo}}</td>
            </tr>
            <tr>
              <th scope="row">Ubicación</th>
              <td>Lat: {{service.latitud}} Long: {{service.longitud}}</td>
            </tr>
          </tbody>
        </table>




        <h1 class="text-center">Detalles de {{service.tipo}}</h1>
        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'PASEO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Hora Salida</th>
              <td>{{service.horaSalida}}</td>
            </tr>
            <tr>
              <th scope="row">Hora Llegada</th>
              <td>{{service.horaLlegada}}</td>
            </tr>
            <tr>
              <th scope="row">Trayecto</th>
              <td>{{service.trayecto}}</td>
            </tr>
            <tr>
              <th scope="row">Restricciones</th>
              <td>{{service.restricciones}}</td>
            </tr>
            <tr>
              <th scope="row">Sugerencias</th>
              <td>{{service.sugerencias}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'ALIMENTACION'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tipo de comida</th>
              <td>{{service.tipoComida}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'ALOJAMIENTO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Num. Habitaciones</th>
              <td>{{service.numHabitaciones}}</td>
            </tr>
            <tr>
              <th scope="row">Num. Huespedes</th>
              <td>{{service.numHuespedes}}</td>
            </tr>
            <tr>
              <th scope="row">Extras</th>
              <td>{{service.extras}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'OTRO'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tipo</th>
              <td>{{otro.tipoServicio}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped border border-dark rounded-10" *ngIf="service.tipo == 'TRANSPORTE'">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dato</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Hora Salida</th>
              <td>{{service.horaSalida}}</td>
            </tr>
            <tr>
              <th scope="row">Hora Llegada</th>
              <td>{{service.horaLlegada}}</td>
            </tr>
          </tbody>
        </table>


        <button type="button" class="btn btn-outline-dark" (click)="addService()"
          [routerLink]="['/shopCar']">Carrito</button>
        <br><br>
        <button type="button" class="btn btn-dark" [routerLink]="['/services']">Lista
          Servicios</button>

        <h3 class="text-center">¿Preguntas?</h3>
        <div class="row">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Preguntas?" [(ngModel)]="pregunta"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-dark" type="button" id="button-addon2"
                (click)="pregutar()">Preguntar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="text-align: center">¿PREGUNTAS?</th>
          <th scope="col" style="text-align: center">RESEÑAS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th>
                <div class="row" style="margin-bottom: 15px;" *ngFor="let preg of preguntastemp">
                    <div class="card w-10 p-3">
                      <div class="card-header">
                        <strong>@{{preg.clientes.nickname}}</strong>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{preg.descripcion}}</h5>
                        <p class="card-text">{{preg.fecha}}</p>
                      </div>
                    </div>
                  </div>
            </th>
          <th><div scope="row" class="row justify-content-md-center limiter">
  
              <div>
                  <br>
                  <div class="card" style="margin-bottom: 15px;" *ngFor="let new of this.resenas">
                      <h5 class="card-header">{{new.title}}</h5>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-3" >
                                  <img [src]="new.urlToImage" class="img-fluid rounded shadow-lg" alt="imagen">
                              </div>
                              <div class="col-9">
                                  <p class="card-text">{{new.description}}</p>
                                  <h6 class="card-body" style="text-align: right">Autor: {{new.fecha}}</h6>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
          </div>
        </th>
        </tr>
      </tbody>
    </table>
