.limiter {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right bottom, rgba(white, 0.6), rgba(white, 0.6)), url("/assets/img/fondo.jpg");
    // background-image: url("/assets/img/fondo.jpg");
}

.deatilscountry{
  width: 100%;
}

table tr{
  background-color: white;
}

.fondo{
  background-color: white;
}

.fondo-padding{
  padding: 15px;
}

.space {
  padding: 15px;
}
