.limiter {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right bottom, rgba(white, 0.6), rgba(white, 0.6)), url("/assets/img/fondo.jpg");
    // background-image: url("/assets/img/fondo.jpg");
}


table tr {
  background-color: white;
}
.space {
  padding: 15px;
}