
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<p class="login100-form-title">
						Iniciar Sessión
                    </p>
                    <p class="txt1">Don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho</p>
                    <br/>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Forgot
						</span>

						<a href="#" class="txt2">
							Username / Password?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Iniciar Sesión
						</button>
					</div>

					<div class="flex-col-c p-b-40">
						<span class="txt1 p-b-9">
							¿No tienes cuenta?
						</span>

						<a href="#" class="txt3">
							Registrate
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>


<router-outlet></router-outlet>
