<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
            <p class="titles" align="center"> Sobre mí... </p>
            <p class="subtitle" align="center" *ngIf="user">@{{user.nickname}}</p>
            <br/>
            <div class="box">
                <div class="left">
                    <div class="content">
                        <p class="contenidos">Nombre:</p>
                        <p class="subtitle" *ngIf="user">{{user.nombre}}</p>
                        <p class="contenidos">Correo:</p>
                        <p class="subtitle" *ngIf="user">{{user.correo}}</p>
                        <p class="contenidos">Fecha de nacimiento:</p>
                        <p class="subtitle" *ngIf="user">{{user.fechaNacimiento}}</p>
                        <p class="contenidos">Descripción:</p>
                        <p class="subtitle" *ngIf="user">{{user.descripcion}}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <p class="contenidos">Imagen de perfil</p>
                        <p>Prueba commit</p>
                        <p class="subtitle" align="center" *ngIf="user">{{user.descripcion}}</p>
                        <img src="..\..\assets\img\perfil.jpg" alt="profile" class="profile" align="center">
                    </div>
                </div>
            </div>    
      </div>
    </div>
	</div>
</body>
</html>


<router-outlet></router-outlet>
